<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body class="item-form">
        <div class="header">
            
        </div>
        <div class="container">
            <h2 class="title">Are you sure you want to delete {{ restaurant.name }} restaurant?</h2>
            <form class="form" method="post" action="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}"> 
                <input type="submit" value="Delete">
            </form> 
            <a class="back-button" href="{{ url_for('listRestaurants') }}">No, go back to index</a>
        </div>
    </body>
</html>