<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body class="item-form">
        <div class="header">
            <h1>{{ restaurant.name }}</h1>
        </div>
        <div class="container">
            <h2 class="title">Are you sure you want to delete {{ item.name }} menu item?</h2>
            <form class="form" method="post" action="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=item.id) }}"> 
                <input type="submit" value="Delete">
            </form> 
            <a class="back-button" href="{{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}">No, go back to restaurant menu</a>
        </div>
    </body>
</html>