<html>
    <body>
        <h1>Edit Menu item for {{ restaurant.name }}</h1>
        <form action="#" method="post">
            <p>Name:</p>
            <input type='text' size='30' name='name' placeholder="{{ item.name }}">
            </br>
            <p>Description:</p>
            <textarea name='description' rows='10' cols='28' placeholder="{{ item.description }}"></textarea>
            </br>
            <p>Price:</p>
            <input type='text' size='30' name='price' placeholder="{{ item.price }}">
            <p>Course:</p>
            <input type='radio' name='course' value='Entree' 
            {% if item.course == 'Entree' %}checked{% endif %}
            >Entree</input>
           <input type='radio' name='course' value='Dessert' 
            {% if item.course == 'Dessert' %}checked{% endif %}
            >Dessert</input>
            <input type='radio' name='course' value='Beverage' 
            {% if item.course == 'Beverage' %}checked{% endif %}
            >Beverage</input>
            <input type='radio' name='course' value='Appetizer' 
            {% if item.course == 'Appetizer' %}checked{% endif %}
            >Appetizer</input>            
            </br>
            </br>
            <input type='submit' value='Create'>
        </form>
    </body>
</html>