<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body class="item-form">
        <div class="header">
            <h1>{{ restaurant.name }}</h1>
        </div>
        <div class="container">
            <h2 class="title">Edit menu item</h2>        
            <form class="form" action="{{ url_for('editMenuItem', restaurant_id=restaurant.id, item_id=item.id) }}" method='post'>
                <p>Name:</p>
                <input type='text' size='30' name='name' placeholder='{{ item.name }}'>
                </br>
                <p>Description:</p>
                <textarea name='description' rows='10' cols='28' placeholder='{{ item.description }}'></textarea>
                </br>
                <p>Price:</p>
                <input type='text' size='30' name='price' placeholder='{{ item.price }}'>
                <p>Course:</p>
                <input type='radio' name='course' value='Entree' 
                {% if item.course == 'Entree' %}checked{% endif %}
                ><span>Entree</span></input>
               <input type='radio' name='course' value='Dessert' 
                {% if item.course == 'Dessert' %}checked{% endif %}
                ><span>Dessert</span></input>
                <input type='radio' name='course' value='Beverage' 
                {% if item.course == 'Beverage' %}checked{% endif %}
                ><span>Beverage</span></input>
                <input type='radio' name='course' value='Appetizer' 
                {% if item.course == 'Appetizer' %}checked{% endif %}
                ><span>Appetizer</span></input>            
                </br>
                </br>
                <input type='submit' value='Edit'>
            </form>
            <a class="back-button" href="{{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}">Cancel</a>
        </div>
    </body>
</html>