<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body class="restaurant">
        <div class="header">
            <h1>{{ restaurant.name }}</h1>
        </div>        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <div class="top-actions">
                <a href="{{ url_for('restaurants') }}">Back to index</a>
                <a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">Add new item</a>
            </div>
            <div class="items">
                {% for item in items %}
                    <div class="item-container">
                        <div class="wrapper">
                            <div class="item">
                                <div class="name">
                                    {{ item.name }}
                                </div>
                                <div class="price">
                                    {{ item.price }}
                                </div> 
                                <div class="description">
                                    {{ item.description }}
                                </div>
                                <div class="actions">
                                    <a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, item_id=item.id) }}">Edit</a>
                                    <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, item_id=item.id) }}">Delete</a>
                                </div>
                            </div>
                        </div>      
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>        
    </body>
</html>