<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body class="restaurant">
        <div class="header">
            <h1>The Restaurant Index</h1>
        </div>        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li><strong>{{ message }}</strong></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            <div class="top-actions">
                <a href="#">Add new restaurant</a>
            </div>
            <div class="items">
                {% for restaurant in restaurants %}
                    <div class="item-container">
                        <div class="wrapper">
                            <div class="item">
                                <div class="name">
                                    {{ restaurant.name }}
                                </div>                       
                                <div class="description">
                                    {{ restaurant.menu_items.count() }} menu items
                                </div>                             
                                <div class="actions">
                                    <a href="{{ url_for('restaurantMenu', restaurant_id=restaurant.id) }}">View</a>
                                    <a href="#">Edit</a>
                                    <a href="#">Delete</a>
                                </div>
                            </div>
                        </div>      
                    </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>        
    </body>
</html>